.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar {
  flex-grow: 0;
  letter-spacing: 20px;
  font-size: 25px;


  .fa-regular {
    color: white;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
